.app {
  text-align: center;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

button {
  width: 5vw;
  height: 5vh;
  font-size: 2em;
  background-color: black;
  color: white;
}

.oneClass {
  color: black;
  background-color: white;
}

span {
  font-size: 1.5em;
}

.reset {
  width: 30vw;
  background-color: brown;
}